<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wynik Mnożenia</title>
    <link rel="stylesheet" th:href="@{/css/styleC.css}"/>
</head>
<body>
<div id="header"></div>
<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd><a th:href="@{/Calc}">Cofni</a></dd>
        <dd><a th:href="@{/}">Wróć na główną</a></dd>
    </dl>
</div>
<div id="content"><h2><span th:text="${wynik}">coś</span></h2></div>
<div id="right"><h4><span th:text="${date}">DATE</span></h4></div>
<div id="footer">Strona postawiona na własnym serwerze RPI 3b+ </div>
</body>
</html>