<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wynik Odejmowania</title>
    <link rel="stylesheet" th:href="@{/css/styleC.css}"/>
</head>
<body>
<div id="header"></div>
<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd class="hoverText"><a style="display:block" th:href="@{/Calc}">Cofni</a></dd>
        <dd class="hoverText"><a style="display:block" th:href="@{/}">Wróć na główną</a></dd>
    </dl>
</div>
<div id="content"><h2><span th:text="${wynik}">coś</span></h2></div>
<div id="right"><h4><span th:text="${date}">DATE</span></h4></div>
<div id="footer">Strona postawiona na własnym serwerze RPI 3b+ </div>
</body>
<!--CLOCK code-->
<script type="text/javascript">
function getTime()
{
    return (new Date()).toLocaleTimeString();
}
document.getElementById('time').innerHTML = getTime();
setInterval(function() {
    document.getElementById('time').innerHTML = getTime();
}, 1000);
</script>
</html>