<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pseudo "Blog"</title>
    <link rel="stylesheet" th:href="@{/css/styleBlog.css}"/>
</head>
<body>

<div id="header">Pseudo "Blog"</div>

<div id="right"><h4><span th:text="${date}">DATE</span></h4>
    <div>
        <form sec:authorize="isAuthenticated()"  action="#" th:action="@{/blogs}" th:object="${blog}" method="post">
            <label for="topic"><span th:text="${topicT}">text</span></label>
            <input type="text" th:field="*{topic}" id="topic" placeholder="topic">
            <span th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}"></span>
            <br>
            <label for="message"><span th:text="${messageT}">text</span></label>
            <input type="text" th:field="*{message}" id="message" placeholder="message">
            <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
            <br>
            <input type="submit" value="Dodaj wpis">
        </form>
    </div>
</div>

<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd class="hoverText"><a style="display:block" th:href="@{/}">Powrót</a></dd>
    </dl>
</div>

<div id="content"><span>Przykładowe wpisy możesz dodać własny wpis. Tylko zalogowani użytkownicy mogą dodawać wpisy !</span>
    <table border="1">
        <tr>
            <th><span>Nick</span></th>
            <th><span>Temat</span></th>
            <th><span>Wiadomość</span></th>
        </tr>
        <tr th:each ="Blog : ${blogs}">
            <td th:utext="${Blog.name}">...</td>
            <td th:utext="${Blog.topic}">...</td>
            <td th:utext="${Blog.message}">...</td>
        </tr>
    </table>
    <br>
</div>

<div id="footer">Strona postawiona na własnym serwerze RPI 3b+ </div>
</body>
<!--CLOCK code-->
<script type="text/javascript">
function getTime()
{
    return (new Date()).toLocaleTimeString();
}
document.getElementById('time').innerHTML = getTime();
setInterval(function() {
    document.getElementById('time').innerHTML = getTime();
}, 1000);
</script>
</html>