<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj swój wpis</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="header">Dodaj swój własny wpis jest to bardzo prosty test bazy danych wpisy są usuwane co 24H by uniknąć wulgarnych słów.</div>
<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd><a th:href="@{/}">Powrót</a></dd>
    </dl>
</div>
<div id="content">

    <form action="#" th:action="@{/SylwesterWebPage/blogs/DataBaseAddText}" th:object="${blog}" method="post">
        <label for="name">Imię</label>
        <input type="text" th:field="*{name}" id="name" placeholder="name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <label for="topic">Temat</label>
        <input type="text" th:field="*{topic}" id="topic" placeholder="topic">
        <span th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}"></span>

        <label for="message">Wiadomość</label>
        <input type="text" th:field="*{message}" id="message" placeholder="message">
        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>

        <input type="submit" value="Dodaj wpis">
    </form>

</div>
<div id="right"><h4><span th:text="${date}">DATE</span></h4></div>
<div id="footer">Strona postawiona na własnym serwerze RPI 3b+ </div>
</body>
</html>