<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/styleHatter.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Nie żyjesz</title>
</head>
<body th:style="'background-image:url(' + @{/images-hatter/dead.jpeg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<h1 style="color:white">Jesteś martwy !</h1>
<a th:href="@{/}">
    <img width="30" height="30" th:src="@{/images/home.png}">
</a>
<div th:each="player : ${Hatter}">
    <br>
    <h3>Zabił cię: </h3>
    <span th:utext="${player.playerKiller}">----</span>
</div>
</body>
</html>