<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/styleHatter.css}"/>
<link rel="shortcut icon" type="image/ico" th:href="@{/hatter.ico}"/>
<head>
    <meta charset="UTF-8">
    <title>Hatter </title>
</head>
<body th:style="'background-image:url(' + @{/images-hatter/hatter_wall.jpeg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div id="container">
    <div id="header">
        <div id="time" style="color: red;" ></div>
        <a id="home" th:href="@{/default}">
            <img width="30" height="30" style="float:left;" th:src="@{/images/home.png}">
        </a>
        <a id="message" th:href="@{/Raport}">
            <img width="30" height="30" style="float:left;" th:src="@{/images-hatter/message.png}">
        </a>
        <br>
        <div class="dropdown">
            <button class="dropbtn">Handel</button>
            <div class="dropdown-content">
                <a th:href="@{/BuyHatter}">Kup</a>
                <a th:href="@{/SellHatter}">Sprzedaj</a>
                <a th:href="@{/404}">Rynek</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Akcje na graczach</button>
            <div class="dropdown-content">
                <a th:href="@{/AttackHatter}">Zabójstwo</a>
                <a th:href="@{/Spy}">Wyśli szpiega</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Hazard</button>
            <div class="dropdown-content">
                <a th:href="@{/Lotto}">Lotto</a>
            </div>
        </div>

        <span style="float:right;">Hatter Wersja testowa</span></span>
    </div>

    <div th:each="player : ${Hatter}" ><h4><span th:text="${date}">DATE</span></h4>
        <span>Level</span>
        <span th:utext="${player.playerLvl}">0</span>
        <br>
        <span>Doświadczenie</span>
        <span th:utext="${player.playerPractice}">0</span>
        <br>
        <br>
        <span>Statystyki główne</span>
        <p>______________________</p>
        <br>
        <img width="80" height="80" th:src="@{/images-hatter/heart.gif}">
        <progress max="100" th:value="${player.playerHp}">Live</progress>
        <img width="80" height="80" th:src="@{/images-hatter/armor.png}">
        <progress max="100" th:value="${player.playerArmor}">Armor</progress>
        <br>
        <img width="80" height="80" th:src="@{/images-hatter/money.png}">
        <span th:utext="${player.playerMoney}"></span>

        <img width="80" height="80" th:src="@{/images-hatter/bullet.png}">
        <span th:utext="${player.playerBullet}">0</span>

        <img width="80" height="80" th:src="@{/images-hatter/damage.png}">
        <span th:utext="${player.playerDamage}">0</span>

        <img width="80" height="80" th:src="@{/images-hatter/head_aim.png}">
        <span th:utext="${player.playerAimHead}">0</span>

        <img width="80" height="80" th:src="@{/images-hatter/body_aim.png}">
        <span th:utext="${player.playerAimBody}">0</span>
        <br>
        <h3 style="color:green; font-weight: bold;"> Ostatni atak na ciebie: </h3>
        <h3 style="color:green; font-weight: bold;" th:utext="${player.playerLastAttacker}">0</h3>
        <br>
        <p>______________________</p>
        <span>Przedmioty "ilość" :</span>
        <br>
        <br>
        <span>Marihuana</span>
        <span th:utext="${player.playerMarijuana}">0</span>
        <br>
        <span>Amfetamina</span>
        <span th:utext="${player.playerAmphetamine}">0</span>
        <br>
        <span>Kokaina</span>
        <span th:utext="${player.playerCocaine}">0</span>
        <h3>Kup za doświadczenie</h3>
        <div>

            <form action="#" th:action="@{/addStat}" method="post">
                <img width="40" height="40" th:src="@{/images-hatter/damage.png}"> <input min="1" type="number" step="1" name="dmg" />
                <br>
<!--                <img width="40" height="40" th:src="@{/images-hatter/head_aim.png}"> <input min="1" type="number" step="1" name="aimHead" />-->
<!--                <br>-->
<!--                <img width="40" height="40" th:src="@{/images-hatter/body_aim.png}"> <input min="1" type="number" step="1" name="aimBody" />-->
<!--                <br>-->
                <input type="submit" value="Wykonaj" />
            </form>
        </div>
        <h3> Ceny </h3>
        <h3>500 exp :DMG</h3>
    </div>

    </div>

</div>


<!--<div id="left">-->

<!--    <dl style="">-->
<!--        <dt>Aktywne bonusy i stany gracza</dt>-->

<!--    </dl>-->
<!--</div>-->

<div id="push"></div>
<footer id="footer">
    <p>Ubuntu-Server</p>
    <li>
        <a id="FB" href="https://www.facebook.com/sgfm1998/">
            <img width="30" height="30" style="float:left;" th:src="@{/images/fbico.png}"></a>
    </li>
    <li>
        <a id="GIT" href="https://github.com/Sylwester12351">
            <img width="30" height="30" style="float:left;" th:src="@{/images/gitico.png}"></a>
    </li>
</footer>
</body>
</html>
</body>
<!--CLOCK code-->
<script type="text/javascript">
function getTime()
{
    return (new Date()).toLocaleTimeString();
}
document.getElementById('time').innerHTML = getTime();
setInterval(function() {
    document.getElementById('time').innerHTML = getTime();
}, 1000);
</script>
</html>