<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="header"><span th:text="${head}">text</span></div>
<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd><a th:href="@{/blogs}"><span th:text="${blog}">text</span></a></dd>
        <dd><a th:href="@{/register}"><span th:text="${regist}">text</span></a></dd>
        <dd><a th:href="@{/WeatherAppOnline}"><span th:text="${weather}">text</span></a></dd>
        <dd><a th:href="@{/Calc}"><span th:text="${calc}">text</span></a></dd>
        <dd><a th:href="@{/PassGen}"><span th:text="${pass}">text</span></a></dd>
        <!--Profile-->
        <dt><span th:text="${profiles}">text</span></dt>
        <dd><a href="https://www.facebook.com/nieistotne12361/">Facebook</a></dd>
        <dd><a href="https://github.com/Sylwester12351">GitHub</a></dd>
        <dt><span th:text="${email}">text</span></dt>
        <dd><a>sylgaw98fm@gmail.com </a></dd>
    </dl>
</div>
<div id="content">
    <span th:text="${content}">text</span>
</div>
<div id="right"><h4><span th:text="${date}">DATE</span></h4></div>
<div id="footer"><span th:text="${foot}">text</span></div>
</body>

</html>