<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div id="header">
    <span>Witaj! Na stronie głównej </span> <span id="headerTextRight" th:text="${userName}"></span>
</div>

<div id="right"><h4><span th:text="${date}">DATE</span></h4></div>

<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd><a th:href="@{/login}"><span>Logowanie</span></a></dd>
        <dd><a th:href="@{/register}"><span>Rejestracja</span></a></dd>
        <dd><a th:href="@{/blogs}"><span>"Blog"</span></a></dd>
        <dd><a th:href="@{/Hatter}"><span>Gra Hatter nadal nad tym pracuję !</span></a></dd>
        <dd><a th:href="@{/WeatherAppOnline}"><span>Pogoda</span></a></dd>
        <dd><a th:href="@{/Calc}"><span>Kalkulator</span></a></dd>
        <dd><a th:href="@{/PassGen}"><span>Generator haseł</span></a></dd>
        <!--Profile-->
        <dt><span>MOJE PROFILE</span></dt>
        <dd><a href="https://www.facebook.com/nieistotne12361/">Facebook</a></dd>
        <dd><a href="https://github.com/Sylwester12351">GitHub</a></dd>
        <dt><span>Email kontaktowy</span></dt>
        <dd><a>  sylgaw98fm@gmail.com  </a></dd>
    </dl>
</div>

<div id="content">
    <span>Witam na mojej stronie ! Pokrótce chciałbym opisać czym się zajmowałem.
        Ukończyłem technikum elektryczne o profilu technik informatyk ponieważ praca z komputerami zawsze była moją pasją.
        Pierwszym ciekawym samodzielnym projektem było napisanie gry multi-player o podobnych zasadach rozgrywki do Counter-Strike
        ale także posiadała mechanizm opadania pocisku nie był to najzwyklejszy raycasting, grę tworzyłem na silniku Unity 5 kod pisałem w języku C#.
        Obecnie zajmuję się językiem Java w którym pisałem projekty takie jak generator haseł, pobieranie wyświetlanie pogody i tworzenie wykresu na podstawie tych informacji,
        konwersja na język mors-a, wysyłanie wiadomości mail i obecną stronę używając framework-a Spring strona działa także na moim własnym prywatnym serwerze.
        W dalszym ciągu chcę rozwijać swoje pasje oraz poszerzać horyzonty. Zapraszam do obejrzenia mikro-serwisów znajdujących się po lewej stronie w menu !
        Wszystkie projekty java jak i kod źródłowy tej strony znajduje się na moim profilu GitHub.</span><br>
    <br>
    <span>Zarejestrowani użytkownicy uzyskują dostęp do dodatkowych opcji.</span>
</div>

<footer id="footer">
    <p>Strona postawiona na własnym serwerze RPI 3b+ Wersja 1.0.6</p>
</footer>
</body>
</html>
<!--<img th:src="@{/images/......png}" sec:authorize="isAuthenticated()"  i do gry "Hatter" gra luźno inspirowana grą przeglądarkową "Omerta" gra aktualnie nazywa się
    chyba jednak inaczej :D A więc w grze chodzi aby przetrwać i wyeliminować innych graczy aby to zrobić należy kupować amunicje i atakować graczy aby mieć pieniądze
    możemy handlować narkotykami i napadać ale uwaga każdy wyższy LVL zwiększa nasze prawdopodobieństwo na sukces akcji a więc na przykład gracz z pierwszym poziomem
    napadając ma ogromne szanse na trafienie do więzienia co odbiera na jakiś czas możliwość wykonywania akcji. Co do atakowania graczy atak jest dostępny od 10 poziomu
    to czy uda nam się zabić przeciwnika zależy ile na to wyłożymy amunicji i czy gracz posiada pancerz jeżeli to jednak nas zaatakują i taki atak przerzyjemy możemy kupić lekarstwo
    i uleczyć nie co pasek zdrowia a więc życzę powodzenia miłej zabawy ! - Przedstawiony opis prezentuje początkowe założenia gry które mogą ulec zmianie chociaż główne założenia się
    raczej nie zmienią może dojść więcej opcji zarobku i takie tam. />-->