<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Succes !</title>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
</head>
<body th:style="'background-image:url(' + @{/images/wallpap2.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<center>
    <h1 style="color:white">Zostałeś zarejestrowany możesz teraz skorzystać z dodatkowych funkcji mojej strony</h1>
    <a class="button" th:href="@{/default}">Wracam na główną</a>
    <a class="button" th:href="@{/login}">Zaloguj</a>
</center>

</body>
</html>