<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zakup udany</title>
</head>
<body th:style="'background-image:url(' + @{/images-hatter/hatter_wall.jpeg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<center><h1 style="color:white">Udało ci się kupić</h1></center>
<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd class="hoverText"><a style="color:white" th:href="@{/Hatter}"><span>Powrót</span></a></dd>
    </dl>
</div>
</body>
</html>