<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Succes !</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 id="content">Zostałeś zarejestrowany możesz teraz skorzystać z dodatkowych funkcji mojej strony</h1>
<a class="hoverText" style="display:block" th:href="@{/}"> Wróć na stronę główną ! </a>
<br>
<a class="hoverText" style="display:block" th:href="@{/login}">Logowanie</a>
</body>
</html>