<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/styleHatter.css}"/>
<link rel="shortcut icon" type="image/ico" th:href="@{/hatter.ico}"/>
<head>
    <meta charset="UTF-8">
    <title>UncensoredSiteHome</title>
</head>
<body th:style="'background-image:url(' + @{/images-hatter/hatter_wall.jpeg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div id="container">
    <div id="header">
        <div class="dropdown">
            <button class="dropbtn">dropdown</button>
            <div class="dropdown-content">
                <a th:href="@{/404}">aaaa</a>
                <a th:href="@{/404}">aadadad</a>
                <a th:href="@{/404}">aaaa</a>
            </div>
        </div>
</div>
</div>
<div id="push"></div>
<footer id="footer">
    <p>Ubuntu-Server</p>
    <li>
        <a id="FB" href="https://www.facebook.com/sgfm1998/">
            <img width="30" height="30" style="float:left;" th:src="@{/images/fbico.png}"></a>
    </li>
    <li>
        <a id="GIT" href="https://github.com/Sylwester12351">
            <img width="30" height="30" style="float:left;" th:src="@{/images/gitico.png}"></a>
    </li>
</footer>
</body>
</html>
</body>
</html>