<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><span th:text="${countryText}">Country</span></title>
    <link rel="stylesheet" th:href="@{/css/styleC.css}"/>
</head>
<body>
<div id="header"><span>Temperatura w mieście :</span><p><span th:text="${cityText}">City</span></p></div>
<div id="left">
    <dl style="">
        <dt>MENU</dt>
        <dd class="hoverText"><a style="display:block" th:href="@{/}"><span>Powrót</span></a></dd>
    </dl>
</div>
<div id="content"><h4><span th:text="${temp}">TEMP</span></h4><p>Celciusza</p>
    <h4><span th:text="${cityText}">City</span></h4>
</div>
<div id="right"><h4><span th:text="${date}">DATE</span></h4></div>
<div id="footer"><span>Strona postawiona na własnym serwerze RPI 3b+ </span></div>
</body>
<!--CLOCK code-->
<script type="text/javascript">
function getTime()
{
    return (new Date()).toLocaleTimeString();
}
document.getElementById('time').innerHTML = getTime();
setInterval(function() {
    document.getElementById('time').innerHTML = getTime();
}, 1000);
</script>
</html>